<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.importer.modelImporterDescriptors">
      <modelImporterDescriptor
            description="Create the Ecore model based on other Ecore or EMOF models"
            extensions="ecore,emof"
            icon="icons/full/obj16/EcoreModelFile.gif"
            id="org.sourcepit.emfx.importer.ecore"
            name="Ecore model (with generator generation)"
            wizard="org.sourcepit.emfx.importer.ecore.ui.EcoreImporter2Wizard">
      </modelImporterDescriptor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.emf.codegen.ecore.ui.wizardCategory"
            class="org.sourcepit.emfx.importer.ecore.ui.NewGeneratorModelWizard"
            icon="icons/full/ctool16/NewGenModel.gif"
            id="org.sourcepit.emfx.importer.ecore.ui.NewGeneratorModelWizard"
            name="Generic EMF Generator Model">
      </wizard>
   </extension>
   
</plugin>
